@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #17324d;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  line-height: 1;
}
.strong {
  font-weight: 700;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.25;
}
h1 {
  font-size: 1.5rem;
  color: #0a1f33;
}
h2 {
  font-size: 1.25rem;
  color: #0a1f33;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
a {
  color: #5c7a99;
  text-decoration: none;
  -webkit-transition: 0.1s color linear;
  -moz-transition: 0.1s color linear;
  -o-transition: 0.1s color linear;
  -ms-transition: 0.1s color linear;
  transition: 0.1s color linear;
}
a:hover {
  color: #005fb2;
}
a:active {
  color: #00396b;
}
.svgwrapper .icon {
  display: inline-block;
}
iframe {
  border: none;
}
#main {
  width: 100%;
  min-height: 700px;
}
#main div.content {
  width: 80%;
  margin: 30px auto;
}
.combo-editor {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 1rem;
}
.combo-editor .left,
.combo-editor .right {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.combo-editor .left {
  margin-right: 5px;
}
.combo-editor .right {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.combo-editor .right button {
  height: 38px;
  width: 58px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.combo-editor .selector {
  cursor: pointer;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 48px;
  color: #5c7a99;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 230px;
}
.combo-editor .selector .display,
.combo-editor .selector > ul {
  height: 100%;
  width: 230px;
}
.combo-editor .selector .display {
  padding-left: 1rem;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #5c7a99;
  border: 1px solid #c5d3e0;
}
.combo-editor .selector .display:hover {
  color: #005fb2;
}
.combo-editor .selector .display svg {
  width: 18px;
  height: 18px;
  fill: #5c7a99;
  margin-right: 5px;
}
.combo-editor .selector > ul {
  position: absolute;
  z-index: 100;
}
.combo-editor .selector > ul li {
  padding-left: 1rem;
  background-color: #fff;
  border: solid 1px #c5d3e0;
  border-top: none;
  height: 48px;
  color: #5c7a99;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.combo-editor .selector > ul li:hover {
  color: #005fb2;
}
.content .container {
  width: 100%;
  min-height: 500px;
  border: 1px solid #c5d3e0;
}
.content .container .section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.content .container .section > div:last-child {
  overflow-wrap: break-word;
  padding: 2rem 4rem 2rem 0;
  -webkit-box-flex: 16;
  -moz-box-flex: 16;
  -o-box-flex: 16;
  box-flex: 16;
  -webkit-flex: 16;
  -ms-flex: 16;
  flex: 16;
}
.content .container .section > div:last-child.sql-result {
  max-height: 500px;
}
.content .container .section > div:last-child iframe {
  min-height: 250px;
  max-height: 550px;
  width: 100%;
  border: 1px solid #c5d3e0;
}
.content .container .section:hover .actions button {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-bottom: 0.5rem;
}
.content .container .section .actions {
  width: 4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.content .container .section .actions button {
  display: none;
}
.ace-tm.ace_editor {
  width: 500px;
  margin-bottom: 1rem;
  border: 1px solid #c5d3e0;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  color: #17324d;
}
.ace-tm.ace_editor.ace_autocomplete {
  background: #fff;
  color: inherit;
  border-color: #c5d3e0;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.5;
  z-index: 2000000;
}
.ace-tm.ace_editor.ace_autocomplete .ace_completion-highlight {
  color: inherit;
}
.ace-tm.ace_editor.ace_autocomplete .ace_line .ace_rightAlignedText {
  color: #5c7a99;
}
.ace-tm.ace_editor .ace_line {
  height: 3rem !important;
}
.ace-tm.ace_editor .ace_line-hover {
  border: none !important;
  background: #f2f6fa !important;
}
.ace-tm.ace_editor .ace_gutter {
  background: #f2f6fa;
  color: #17324d;
}
.ace-tm.ace_editor .ace_gutter-active-line {
  background-color: #c5d3e0;
}
.ace-tm.ace_editor .ace_marker-layer .ace_active-line {
  background-color: #e6ecf2 !important;
}
.ace-tm.ace_editor .ace_cursor {
  color: #17324d;
}
.ace-tm.ace_editor .ace_keyword {
  color: #1970bd;
}
.ace-tm.ace_editor .ace_support.ace_function {
  color: #7a56d6;
}
.ace-tm.ace_editor .ace_constant.ace_numeric {
  color: #d4504c;
}
footer {
  border-top: 1px solid #f2f6fa;
  padding: 40px 0;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 90%;
}
footer .social {
  margin-bottom: 20px;
}
footer p {
  margin: 5px 0;
  color: #7d98b3;
}
footer p a {
  font-weight: bold;
}
#d3-container .node {
  stroke: #fff;
  stroke-width: 1.5px;
}
#d3-container .link {
  stroke: #999;
  stroke-opacity: 0.6;
}
#d3-container svg {
  margin-left: -50%;
}
.bodywrap > header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100px;
}
.bodywrap > header .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 80%;
}
.bodywrap > header .container #logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background: transparent url("http://www.constructionenquirer.com/wp-content/uploads/bob.png") no-repeat -46px -17px;
  width: 170px;
  height: 99px;
  display: block;
}
.bodywrap > header .container .links {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bodywrap > header .container .links a {
  display: block;
  padding: 0 0.5rem;
}
.bodywrap > header .container .links a :hover {
  text-decoration: underline;
}
.bodywrap > header .container .links a:first-child {
  border-right: 1px solid #5c7a99;
}
nav {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 55px;
  background-color: #27aba4;
}
nav ul {
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
nav ul li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
nav ul li a {
  padding: 0 1rem;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
nav ul li a:hover,
nav ul li a.active {
  color: #fff;
}
nav ul li a.active {
  background-color: rgba(255,255,255,0.1);
}
.sql-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.sql-result > div {
  overflow: auto;
  border: 1px solid #c5d3e0;
}
table {
  position: relative;
  height: 100%;
}
table tr {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
table tr th,
table tr td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  width: 8rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
table thead {
  height: 2rem;
  padding: 0;
  background: #e6ecf2;
}
table thead th {
  font-weight: 400;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1rem;
}
table tr td {
  vertical-align: top;
  border-top: 1px solid #c5d3e0;
  font-size: 0.875rem;
}
