.content
	.container
		width 100%
		min-height 500px
		border 1px solid color-blue-rome
		padding 2rem 4rem
		
		> div
			margin-bottom spacing-medium
			overflow-wrap break-word
			
			&.sql-result
				width 100%
				min-height 300px
				max-height 500px

			iframe
				width 100%
				min-height 300px
