.query-editor
	width 100%
	display flex
	margin-bottom spacing-medium
	flex-direction column

	.submitBtn
		display flex
		width 6rem
		height 3rem
		align-items center
		border 1px solid color-blue-rome
		justify-content center
		margin-bottom 1rem
		cursor pointer
		padding 0 0.5rem