.builder
	.left-pannel
		display flex
		flex 1

		.toolbox
			align-items flex-end
			margin-right 1rem
			width 100%
			display flex
			flex-direction column

			div
				display flex
				min-width 3rem
				height 3rem
				align-items center
				border 1px solid color-blue-rome
				justify-content center
				margin-bottom 1rem
				cursor pointer
				padding 0 0.5rem
				
				span:before
					content '+ '
					display none

				&:hover span:before
					display inline


	.main
		width 100%
		min-height 500px
		border 1px solid color-blue-rome
		flex 8

		.section
			display flex

			> div:last-child
				overflow-wrap break-word
				padding 2rem 4rem 2rem 0
				flex 16

				&.sql-result
					max-height 500px
				iframe
					min-height 250px
					max-height 550px
					width 100%
					border 1px solid color-blue-rome

			&:hover
			&.selected

				.actions
					border-left 2px solid color-orange-customer

					button
						display flex

			.actions
				width 4rem
				display flex
				flex-direction column
				flex 1
				justify-content center
				align-items center
				border-left 2px solid color-white

				button
					display none
					margin 0.5rem 0

	.right-pannel
		display flex
		flex 1
		border 1px solid color-blue-rome

