.reports
	flex-direction column
	min-height 25rem

	> label
		color #0a1f33
		font-weight font-weight-bold
		display flex
		width 100%
		margin-bottom 1rem
		font-size font-size-medium

	> div
		display flex
		flex-direction row
		border-top 1px solid #f2f6fa
		width 100%
		
		> div
			height 46px
			padding-left 1rem
			padding-right 1rem
			font-size 0.875rem
			font-weight 400
			letter-spacing 0.5px
			display flex
			align-items center

		.title
			width 32%
		.description
			width 28%
		.author
			width 20%
		.created
			width 20%

	.header 
		border-top none

		> div
			text-transform uppercase

	.row
		cursor pointer

		&:hover
			background-color color-blue-athens






